@import '../core/core.css';

/* Menu Component */
#menu {
    font-family: 'Alatsi', sans-serif;

}

/* Menu Category Component */
#menu-categories {
    font-family: 'Alatsi', sans-serif;

}


/* Menu Item Componennt - Menu List and Categories */

#menu-items-detail {
    font-family: 'Alatsi', sans-serif;
}

.menu-category-section {

}

/* Party Menu Items Component */
#party-items-detail {
    font-family: 'Alatsi', sans-serif;

}

/* Menu Category Headers */

.category-name {

}

.category-description {

}

/* Individual Menu Items */

.menu-item-name {
    float: left;

}
.menu-item-price {
    float: right;
}
.menu-item-price > ul {
    list-style: none;
}